# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Microsoft Office temp files
~$*.xlsx
~$*.pptx
~$*.docx

# Power BI temp/cache
*.pbix.bak
.PowerBIDesktop/

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Temp files
*.tmp
*.temp

# OS generated
.Spotlight-V100
.Trashes
